In [19]:
f = open("US_births_1994-2003_CDC_NCHS.csv")
data = f.read()
data_split = data.split("\n")
print(data_split[0:10])

['year,month,date_of_month,day_of_week,births', '1994,1,1,6,8096', '1994,1,2,7,7772', '1994,1,3,1,10142', '1994,1,4,2,11248', '1994,1,5,3,11053', '1994,1,6,4,11406', '1994,1,7,5,11251', '1994,1,8,6,8653', '1994,1,9,7,7910']

In [20]:
def read_csv(in_csv):
    final_list = []
    f = open(in_csv)
    data = f.read()
    data_split = data.split("\n")
    string_list = data_split[1:len(data_split)]
    
    for item in string_list:
        int_fields = []
        string_fields = item.split(",")
        for val in string_fields:
            int_fields.append(int(val))
        final_list.append(int_fields)
    return final_list

In [21]:
cdc_list = read_csv("US_births_1994-2003_CDC_NCHS.csv")
cdc_list[0:10]

[[1994, 1, 1, 6, 8096],
 [1994, 1, 2, 7, 7772],
 [1994, 1, 3, 1, 10142],
 [1994, 1, 4, 2, 11248],
 [1994, 1, 5, 3, 11053],
 [1994, 1, 6, 4, 11406],
 [1994, 1, 7, 5, 11251],
 [1994, 1, 8, 6, 8653],
 [1994, 1, 9, 7, 7910],
 [1994, 1, 10, 1, 10498]]

In [22]:
def month_births(my_list):
    births_per_month = {}
    MONTH_INDEX = 1
    BIRTH_INDEX = 4
    for val in my_list:
        if val[MONTH_INDEX] in births_per_month:
            births_per_month[val[MONTH_INDEX]] = val[MONTH_INDEX] + val[BIRTH_INDEX]
        else:
            births_per_month[val[MONTH_INDEX]] = val[BIRTH_INDEX]
    return births_per_month

In [23]:
cdc_month_births = month_births(cdc_list)
cdc_month_births

{1: 11775,
 2: 12331,
 3: 11334,
 4: 12068,
 5: 8747,
 6: 12078,
 7: 13244,
 8: 7751,
 9: 13131,
 10: 10777,
 11: 7216,
 12: 12386}

In [25]:
def dow_births(list_of_lists):
    days_and_births_dict = {}
    DAY_OF_WEEK_INDEX = 3
    BIRTH_INDEX = 4
    for val in list_of_lists:
        if val[DAY_OF_WEEK_INDEX] in days_and_births_dict:
            days_and_births_dict[val[DAY_OF_WEEK_INDEX]] = days_and_births_dict[val[DAY_OF_WEEK_INDEX]] + val[BIRTH_INDEX]
        else:
            days_and_births_dict[val[DAY_OF_WEEK_INDEX]] = val[BIRTH_INDEX]
    return days_and_births_dict

In [26]:
cdc_day_births = dow_births(cdc_list)
cdc_day_births

{1: 5789166,
 2: 6446196,
 3: 6322855,
 4: 6288429,
 5: 6233657,
 6: 4562111,
 7: 4079723}

In [27]:
def calc_counts(data, column):
    my_dict = {}
    BIRTH_INDEX = 4
    for val in data:
        if val[column] in my_dict:
            my_dict[val[column]] = my_dict[val[column]] + val[BIRTH_INDEX]
        else:
            my_dict[val[column]] = val[BIRTH_INDEX]
    return my_dict

In [29]:
YEARLY_TOTAL_INDEX = 0
MONTHLY_TOTAL_INDEX = 1
DAY_OF_MONTH_TOTAL_INDEX = 2
DAY_OF_WEEK_TOTAL_INDEX = 3
cdc_year_births = calc_counts(cdc_list, YEARLY_TOTAL_INDEX)
cdc_month_births = calc_counts(cdc_list, MONTHLY_TOTAL_INDEX)
cdc_dom_births = calc_counts(cdc_list, DAY_OF_MONTH_TOTAL_INDEX)
cdc_dow_births = calc_counts(cdc_list, DAY_OF_WEEK_TOTAL_INDEX)

In [34]:
cdc_year_births

{1: 3232517,
 2: 3018140,
 3: 3322069,
 4: 3185314,
 5: 3350907,
 6: 3296530,
 7: 3498783,
 8: 3525858,
 9: 3439698,
 10: 3378814,
 11: 3171647,
 12: 3301860}

In [35]:
cdc_month_births

{1994: 3952767,
 1995: 3899589,
 1996: 3891494,
 1997: 3880894,
 1998: 3941553,
 1999: 3959417,
 2000: 4058814,
 2001: 4025933,
 2002: 4021726,
 2003: 4089950}

In [36]:
cdc_dom_births

{1: 1276557,
 2: 1288739,
 3: 1304499,
 4: 1288154,
 5: 1299953,
 6: 1304474,
 7: 1310459,
 8: 1312297,
 9: 1303292,
 10: 1320764,
 11: 1314361,
 12: 1318437,
 13: 1277684,
 14: 1320153,
 15: 1319171,
 16: 1315192,
 17: 1324953,
 18: 1326855,
 19: 1318727,
 20: 1324821,
 21: 1322897,
 22: 1317381,
 23: 1293290,
 24: 1288083,
 25: 1272116,
 26: 1284796,
 27: 1294395,
 28: 1307685,
 29: 1223161,
 30: 1202095,
 31: 746696}

In [47]:
cdc_dow_births

{1: 5789166,
 2: 6446196,
 3: 6322855,
 4: 6288429,
 5: 6233657,
 6: 4562111,
 7: 4079723}

# Max/Min Value Within A Dictionary Function
calc_max takes in a dictionary and returns the highest/lowest value from that dictionary

In [60]:
def calc_max_1(my_dict):
    values_list = my_dict.values()
    max_value = 0
    for value in values_list:
        if max_value < value:
            max_value = value
    return max_value
def calc_max_2(my_dict):
    return max(my_dict.values())

def calc_min(my_dict):
    return min(my_dict.values())

In [61]:
print(calc_max_1(cdc_dow_births))
print(calc_max_2(cdc_dow_births))
print(calc_min(cdc_dow_births))

6446196
6446196
4079723

# Function 2
Write a function that extracts the same values across years and calculates the differences between consecutive values to show if number of births is increasing or decreasing.

In [81]:
def getTotalYearAndDayDict(my_list, day_of_week):
    #year, birthrate, day_of_week
    my_dict = {}
    YEAR_INDEX = 0
    BIRTH_INDEX = 4
    DAY_OF_WEEK_INDEX = 3
    for val in my_list:
        if val[DAY_OF_WEEK_INDEX] == day_of_week:
            if val[YEAR_INDEX] in my_dict:
                my_dict[val[YEAR_INDEX]] = my_dict[val[YEAR_INDEX]] + val[BIRTH_INDEX]
            else:
                my_dict[val[YEAR_INDEX]] = val[BIRTH_INDEX]
    return my_dict

def differencePerYear(my_dict):
    birth_per_year = my_dict.values()
    bpy_list = []
    difference = []
    n = 1
    for each in birth_per_year:
        bpy_list.append(each)
    
    max = len(bpy_list)
    for val in bpy_list:
        if n  < max:
            diff = val - bpy_list[n]
            difference.append(diff)
            print("this year:", val, ", next year:", bpy_list[n], ", Diff:", diff)
            n += 1
            
    return difference
saturday_total = differencePerYear(getTotalYearAndDayDict(cdc_list, 6))
saturday_total

this year: 469794 , next year: 453928 , Diff: 15866
this year: 453928 , next year: 445770 , Diff: 8158
this year: 445770 , next year: 447445 , Diff: -1675
this year: 447445 , next year: 474732 , Diff: -27287
this year: 474732 , next year: 459580 , Diff: 15152
this year: 459580 , next year: 456261 , Diff: 3319
this year: 456261 , next year: 450840 , Diff: 5421
this year: 450840 , next year: 453776 , Diff: -2936
this year: 453776 , next year: 449985 , Diff: 3791

[15866, 8158, -1675, -27287, 15152, 3319, 5421, -2936, 3791]

In [79]:
saturday_total = getTotalYearAndDayDict(cdc_list, 6)
saturday_total

{1994: 474732,
 1995: 459580,
 1996: 456261,
 1997: 450840,
 1998: 453776,
 1999: 449985,
 2000: 469794,
 2001: 453928,
 2002: 445770,
 2003: 447445}